@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

*{ 
    text-align: center;
}

body {
    background-color: rgb(243, 118, 124, 200);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.calc {
    background-color: rgb(57, 56, 59);
    height: 432px;
    width: 400px;
    border-radius: 20px;
}

.inp {
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -22px;

}

.inp>input {
    width: 87%;
    /* height: 50%; */
    height: 85px;
    border: none;
    outline: none;
    background-color: rgb(164, 174, 122);
    border-radius: 20px;
    font-family: 'Orbitron', sans-serif;
    padding: 30px 0;
    box-sizing: border-box;
    font-size: 45px;
}

.buttons {
    display: flex;
    margin-left: 25px;
    width: 87%;
    
}

.row {
    width: 220px;
}

.row-z-index {
    z-index: 1;
}
span {
    display: block;
    text-align: center;
    margin: 5px;
    color: white;
    background-color: rgb(88, 89, 91);
    height: 47px;
    width: 79px;
    font-size: 40px;
    border-radius: 9px;
}
.equal {
    height: 100px;
    background-color:rgb(241, 90, 42) ;
}

.bb {
    background-color: rgb(17, 13, 15);
}

.AC {
    background-color: rgba(255, 0, 0, 0.681);
}

